<configuration>
    <appender name="serverFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/server.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="serverConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="serverDetailsFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/server.details.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="Server" level="INFO">
        <appender-ref ref="serverFile" />
        <appender-ref ref="serverConsole" />
    </logger>

    <logger name="ServerDetailed" level="INFO">
        <appender-ref ref="serverDetailsFile" />
    </logger>
</configuration>
